<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Complaint Submitted - Smart Campus</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <nav>

        <h2>🏫 SMART CAMPUS</h2>

        <div>

            <a href="{{ url_for('home') }}">Home</a>

            <a href="{{ url_for('report') }}">Report Problem</a>

            <a href="{{ url_for('complaints') }}">My Complaints</a>

            <a href="{{ url_for('admin_login') }}">Admin</a>

        </div>

    </nav>


    <main class="login-container">

        <div class="login-card">

            <div class="login-icon">
                ✅
            </div>

            <h1>Complaint Submitted Successfully!</h1>

            <p>Your campus problem has been recorded.</p>


            <h2>Complaint ID</h2>

            <h2>{{ complaint_id }}</h2>


            <p>
                <strong>Status:</strong> Pending
            </p>


            <a href="{{ url_for('complaints') }}" class="button">
                View My Complaints
            </a>

            <br><br>

            <a href="{{ url_for('report') }}" class="button">
                Report Another Problem
            </a>

        </div>

    </main>

</body>

</html>
